# .env

TELEGRAM_BOT_TOKEN=your_telegram_bot_token
PRIVY_CLIENT_ID=your_privy_client_id
PRIVY_APP_ID=your_privy_app_id
BASE_URL=http://localhost:3000
DATABASE_URL=postgresql://postgres:postgres@db:5432/telegram_referral
REDIS_URL=redis://cache:6379
